@media only screen and (max-width: 350px) {
    .image {
        width: 40%;
    }
    
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        padding: 1em;
    } 

    .navbar-image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
    }   
}

body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    background-color: #000000;
    color: #000000;
    /* background-image: url(./Red\ Black\ Highway\ Logo\ \(1\).png); */
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.image {
    width: 20%;
}

.container {
    background: #000000;
    color: #fff;
}

.card {
    border-radius: 8px;
}

button {
    font-size: 1.2rem;
}

.btncalculate {
    background-color: #ff914d;
    border-color: #ff914d;
}

.alert {
    font-size: 1.1rem;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 1em;
} 

 .navbar-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
}

.alert{
    background-color: #ff914d;
    color: #fff;
    border-color: #ff914d;
}

