body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #212529;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
}

.card {
    border-radius: 8px;
}

button {
    font-size: 1.2rem;
}

.alert {
    font-size: 1.1rem;
}

img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}